extends ./template.pug
block title
  title Blog
block content
  section.section.hero.hero_blog
    .hero__bg
      img(src="img/mountains-bg.png", alt="").hero__bg-img
    ul.socials
      each item in ['vk', 'github', 'in']
        li.socials__item
          a(href="" class=`socials__link socials__link_${item}`)
            +icon(`${item}`, 'white_mod')
    a(href="").hamburger#hamburger
      +icon('hamburger', 'beige_mod')
    a(href="").down-arrow.down-arrow_blog
        +icon('arrow_down','beige_mod')
    .hero__title.blog__title
      .user.hero__user-block
        .user__photo
          +webp('avatar', 'png')
        .about__section-title.blog__title
          h1.about__section-title_heading.title Блог
        .user__desc Статьи, которые я написал
  section.triangles
    .triangles__left
      svg(
          width="49%"
          viewbox="0 0 1000 100"
          preserveAspectRatio = "none"
          fill="red"
          class="triangle triangle_blog")
            polygon(points="0,0 0,100 1000,100")
    .triangles__right
       svg(
          width="49%"
          viewbox="0 0 1000 100"
          preserveAspectRatio = "none"
          fill="red"
          class="triangle triangle_blog")
            polygon(points="0,100 1000,100 1000,0")
  section.blog
    .container
      .blog__left
        include ./blog_sidebar.pug
      .blog__right
        .blog__articles
          article.blog__article
            h2.blog__article__heading Самое важное в SASS
            p.blog__article__date 22 ноября 2016
            p.blog__article__text Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
            p.blog__article__text Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
            .blog__article__code
              img(src="img/block-code.png", alt="")
          article.blog__article
            h2.blog__article__heading Приёмы в вёрстке, без которых не обходится ни один сайт
            p.blog__article__date 13 ноября 2016
            p.blog__article__text Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
            p.blog__article__text Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.