extends ./template.pug
block title
  title Мои работы
block content
  section.section.hero
    .hero__bg
      img(src="img/mountains-bg.png", alt="").hero__bg-img
    ul.socials
      each item in ['vk', 'github', 'in']
        li.socials__item
          a(href="" class=`socials__link socials__link_${item}`)
            +icon(`${item}`, 'white_mod')
    a(href="").hamburger
      +icon('hamburger', 'beige_mod')
    a(href="").down-arrow
        +icon('arrow_down','beige_mod')
    .hero__title
      .user.hero__user-block
        .user__photo
          +webp('avatar', 'png')
        .user__name Павел Зотов
        .user__desc Веб-разработчик из Александрова
  section.triangles
    .triangles__left
      svg(
          width="49%"
          viewbox="0 0 1000 100"
          preserveAspectRatio = "none"
          fill="red"
          class="triangle about__triangles work__triangles")
            polygon(points="0,0 0,100 1000,100")
    .triangles__right
       svg(
          width="49%"
          viewbox="0 0 1000 100"
          preserveAspectRatio = "none"
          fill="red"
          class="triangle about__triangles work__triangles")
            polygon(points="0,100 1000,100 1000,0")
  section.section.works
    .container
      .works__heading
        h1 Мои работы
  section.works__slider
    .works__slider__left
      .works__slider__left__wrapper
        .works__slider__subheading
          h2 Сайт картинной галереи
        .works__slider__tags
          p HTML, CSS, Javascript
        .works__slider__link
          a(href="").btn
            +icon('link', 'white_mod')
            | Посмотреть сайт
    .works__slider__right
      .works__slides
          img(data-slide="1", src="img/pintora.png", alt="").works__slides__slide
          img(data-slide="2", src="img/arsdiezel.png", alt="").works__slides__slide
          img(data-slide="3", src="img/germi-salon.png", alt="").works__slides__slide
          img(data-slide="4", src="img/works-slides.png", alt="").works__slides__slide
      .works__slider__controls
        .works__slider__controls__left
          .works__slides__item.works__slides__item_active
            img(data-slide="4", src="img/works-slides.png", alt="")
          .works__slides__item
            img(data-slide="2", src="img/germi-salon.png", alt="")
          .works__slides__item
            img(data-slide="3", src="img/arsdiezel.png", alt="")
          .works__slides__item
            img(data-slide="4", src="img/pintora.png", alt="")
          a(href="").slider__controls__bottom
            +icon('portf_arrow_down', 'mod__white')
        .works__slider__controls__right
          .works__slides__item.works__slides__item_active
            img(data-slide="1", src="img/pintora.png", alt="")
          .works__slides__item
            img(data-slide="2", src="img/arsdiezel.png", alt="")
          .works__slides__item
            img(data-slide="3", src="img/germi-salon.png", alt="")
          .works__slides__item
            img(data-slide="4", src="img/works-slides.png", alt="")
          a(href="").slider__controls__top
            +icon('portf_arrow_up', 'mod__white')
  section.works__reviews
    .container
      .works__heading.works__heading_about
        h2 Что обо мне говорят
      .reviews__slider
        .reviews__slide
          +icon('icon-quote', 'grey-mode')
          p.reviews__slide__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
          .reviews__slide__contact
            img(src="img/review-avatar.png", alt="")
            .reviews__slide__contact__info
              p.reviews__slide__text.text_bold.text_green Ковальчук Дмитрий
              p.reviews__slide__text.text_normal.text_green основатель Loftschool
        .reviews__slide
          +icon('icon-quote', 'grey-mode')
          p.reviews__slide__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
          .reviews__slide__contact
            img(src="img/review-avatar.png", alt="")
            .reviews__slide__contact__info
              p.reviews__slide__text.text_bold.text_green Ковальчук Дмитрий
              p.reviews__slide__text.text_normal.text_green основатель Loftschool
      .reviews__form
        form(action="", method="")#reviews__form
          h3.reviews__form__heading Связаться со мной
          .form-group
            input(type="text" name="name" placeholder="Имя").reviews__form__input
          .form-group
            input(type="email" name="email" placeholder="Email").reviews__form__input
          .form-group.mb20
            textarea(name="message", cols="30", rows="10", placeholder="Ваше сообщение").reviews__form__textarea
          .form-group.form-group_between
            button(type="submit").reviews__button#reviews__submit Отправить
            button(type="submit").reviews__button#reviews__clear Очистить